  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Varela+Round&display=swap');

  * {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: url(visuals/cursor/cursor.png), default;
  }
  a {cursor: url(visuals/cursor/pointer.png), pointer;}

  .buttons a {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 120px;
    background-color: yellow;
    border: solid;
    border-color: blue;
    border-width: 0.25px;
    /* padding: 0.3rem; */
    font-family: 'Varela Round', sans-serif;
    font-size: 28pt;
    text-align: center;
    letter-spacing: -2pt;
    color: grey;
    text-decoration: none;
    z-index: 40;
  }
  .buttons a:hover {
    background-color:white;
    transition: 0.2s;
  }

  .buttons #info {left: 2rem; top:2rem; width: 50px; border-radius: 100px; padding-top:5px; background: yellow; z-index:51;}

  .info {
    top: 8rem;
    left: 6rem;
    padding: 1rem;
    background-color: #DFFF00;
    opacity: 0;
    position: fixed;
    width: 0px;
    height: 0px;
    border-radius: 30px;
    border: solid 0.25pt #0071F3;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    font-size: 0;
    text-align: centered;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 51;
  }
  .info h3 {
    color: grey;
    font-size: 20pt;
    text-align: left;
  }
  .info p {
    color: grey;
    font-size: 10pt;
    text-align: left;
  }
  .info::-webkit-scrollbar {
    display: none;
  }
  .blur {
    content: "";
    width:0;
    height:0;
    position: fixed;
    left:0;
    top:0;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(2px);
    z-index: 50;
    opacity: 0;
}
  .infobox {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 100px / 50px;
    background-color: none;
    z-index: 52;
    cursor: url(visuals/cursor/pointer.png), pointer;
    opacity: 0;
  }

  .infobox:checked ~ .info{
    width: 45rem;
    height: 20%;
    opacity: 1;
    font-size: 10pt;
    transition: 1s;
    border-width: thin;
    border-color: blue;
  }
  .infobox:checked ~ .blur{
    width:100vw;
    height:100vh;
    opacity: 1;
  }

  .infobox:hover ~ .buttons #info {
    background-color: #DFFF00;
    transition: 0.2s;
    cursor: url(visuals/cursor/pointer.png), pointer;
  }
  .infobox:checked ~ .buttons #info{
    background-color: #DFFF00;
  }




/* upper-left */
  .instruction-text {
    background: #DFFF00;
    height: 50px;
    border-radius: 20px;
    border: solid 0.25pt blue;
    font-size: 20pt;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    text-align: left;
    color: #23D203;
    padding-top: 0.6rem;
    overflow: hidden;
    z-index:40;
    /* box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.06); */
  }
  .instruction-text span{
    width: 100vw;
    display: inline-block;
    transform: translateX(5%);
    animation: scrolling-left1 10s linear infinite;
  }
  #home-instruction {
    position: fixed;
    top: 2rem;
    left: 7rem;
    width: 45vw;
  }
  #collage-instruction {
    /* box-sizing: content-box; */
    position: relative;
    top: 0;
    max-width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border: none;
    font-size: 13pt;
  }
  #collage-instruction span {
    transform: translateX(20%);
  }
  @keyframes scrolling-left1 {
    0% {transform: translateX(0);}
    100% {transform: translateX(-30%);}
  }


/* upper-right */
  .mousedata {
    position: fixed;
    right:2rem;
    top: 2rem;
    font-size: 25pt;
    font-family: 'Varela Round', sans-serif;
    color: grey;
    z-index: 40;
  }
  .mousedata input {
    border: solid;
    border-color: #0071F3;
    border-width: 0.25pt;
    background: yellow;
    width: 6rem;
    height: 45px;
    font-size: 20pt;
    font-style: italic;
    font-family: serif;
    color: grey;
    padding: 0.5rem;
    text-align: center;
    border-radius: 25px;
    box-shadow: inset 0 0 5px dimgrey;
    /* box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.06); */
  }


/* bottom-left */
  .draggables {
    box-sizing: border-box;
    position: fixed;
    left: 6.5rem;
    bottom: 2.3rem;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 5px dimgrey;
    /* box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 30px;
    width: 0px;
    height: 100px;
    z-index: 60;
    overflow: hidden;
  }
  .draggables ul {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .draggables li {
    box-sizing: border-box;
    width: 0;
    height: 60px;
    border-radius: 20px;
    }
  .draggables img {
    border-style: none;
    width: auto;
    height: 100%;
    border-radius: 20px;
    cursor: url(visuals/cursor/move-yellow.png), grabbing;
    }
  .draggables img:hover {
    border-style: dotted;
    border-color: yellow;
    border-width: 5px;
    }
  .draggables::-webkit-scrollbar {
    display: none;
    }

    #drag-unfold {
        position: fixed;
        left: 2rem;
        bottom: 4rem;
        width: 50px;
        height: 50px;
        z-index: 45;
        opacity: 0;
        cursor: url(visuals/cursor/pointer.png), pointer;
      }
    #unfold-ui a{
        position: fixed;
        left: 2rem;
        bottom: 4rem;
        color: grey;
        padding-bottom: 0.7rem;
        z-index: 44;
      }
    #drag-unfold:checked ~.draggables{
        width: 50vw;
        overflow: visible;
        transition: 1s;
      }
    #drag-unfold span {
        position: relative;
        right: 0;
        bottom: 0px;
        font-size: 36pt;
        z-index: 44;
      }
    #drag-unfold:hover ~ #unfold-ui a{
        background-color: #DFFF00;
      }
    #drag-unfold:checked ~ #unfold-ui a{
        background-color: #DFFF00;
        transform: rotate(-180deg);
        transition: 1s;
      }
    #drag-unfold:checked ~.draggables li{
        height: 70px;
        width: auto;
        margin: 0.5rem;
        transition:1s;
      }

/* bottom-right */

  #return {
    right: 2rem;
    bottom: 4rem;
    transform:rotate(-180deg);
    cursor: url(visuals/cursor/pointer.png), pointer;
  }
  #return span {
    position: relative;
    right: 0;
    bottom: 3px;
    /* font-size: 34pt; */
    color: grey;
    z-index: 44;
    cursor: url(visuals/cursor/pointer.png), pointer;
  }

  #return:hover {
    background-color: #DFFF00;
  }
  .return-text{
    position: fixed;
    right: 6rem;
    bottom: 4rem;
    width: 0;
    height: 50px;
    background-color: none;
    border-radius: 20px;
    border: solid;
    border-color: #0071F3;
    border-width: 0.25pt;
    padding: 0.8rem;
    padding-top: 0.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: grey;
    opacity: 0;
    z-index: 44;
  }
  #return:hover ~.return-text{
    width:auto;
    height: 50px;
    opacity: 1;
    background-color: #DFFF00;
    transition: 0.5s;
  }

  #out-sky {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    width: 50px;
    height: 50px;
    z-index: 0;
    opacity: 0;
    cursor: url(visuals/cursor/pointer.png), pointer;
  }
  #out-sky-ui {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
    z-index: 0;
    opacity: 0;
  }

/* collage page */
  .buttons #gallery-button {left: 2rem; top: 2rem; width: auto; height:auto; font-size: 20pt;}
  .buttons #play-button {left: 10rem; top: 2rem; width: auto; height:auto; font-size: 20pt; opacity:0;}
  .controls {
    position: absolute;
    top: 1rem;
    right:1rem;
    padding: 1rem;
  }
  .controls a {
    width: auto;
    height: auto;
    background-color: #EEEEEE;
    z-index: 100;
    padding: 0.5rem;
    border-radius: 32px / 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 10pt;
    text-decoration: none;
  }
  .controls a:hover {
    background-color: white;
    transition: 0.2s;
    cursor: url(visuals/cursor/pointer.png), pointer;
  }
  #C {position: relative;right: 0.5rem;}
  #D {position: relative;right: 0;}

  .gallerybox{
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    width: 120px;
    height: 60px;
    z-index: 120;
    cursor: url(visuals/cursor/pointer.png), pointer;
    opacity: 0;
  }
  .playbox{
    position: fixed;
    top: 1.5rem;
    left: 10rem;
    width: 120px;
    height: 60px;
    z-index: 120;
    cursor: url(visuals/cursor/pointer.png), pointer;
    opacity: 0;
  }

  .gallerybox:checked ~ .page-middle{
    width:100%;
    transition: 2s;
    opacity: 1;
  }
  .gallerybox:checked ~ .page-right{
    width:0%;
    opacity:0;
    transition: 2s;
  }
  .gallerybox:checked ~ .page-left{
    width:0%;
    opacity:0;
    transition: 2s;
  }
  .gallerybox:checked ~ .buttons #gallery-button,
  .gallerybox:hover ~ .buttons #gallery-button{
    background-color: #DFFF00;
  }
  .gallerybox:checked ~ .buttons #play-button{
    opacity:1;
    transition:1s;
  }

  .playbox:checked ~ .page-middle{
    width:0%;
    transition:2s;
    opacity:0;
  }
  .playbox:checked ~ .page-left{
    width:40%;
    transition:2s;
    opacity:1;
  }
  .playbox:checked ~ .page-right{
    width:calc(100% + 1.5rem);
    transition:2s;
    opacity:1;
  }
  .playbox:hover ~ .buttons #play-button{
    background:#DFFF00;
  }
  .playbox:checked ~ .buttons #play-button{
    opacity:0;
    transition:1s;
  }
  .playbox:checked ~ .buttons #gallery-button{
    background:none;
  }
